:root {
  --primary-dark-color: #041e42;
  --primary-color: #0086c9;
  --primary-white-color: #ffffff;
  --secondary-color: #f2f2f2;
  --secondary-dark-color: #333333;
  --secondary-green-color: #81c043;
}
